<?xml version="1.0" encoding="UTF-8"?>
<?page title="CM_WS"?>
<!--
hello.zul

{{IS_NOTE
	Purpose:
		
	Description:
		
	History:
		Thu Mar 23 21:03:20     2006, Created by tomyeh
}}IS_NOTE

Copyright (C) 2006 Potix Corporation. All Rights Reserved.

{{IS_RIGHT
}}IS_RIGHT
-->
<!--This zul file was use for watchdog checking, You have to tell mis if you need to modify-->
<zk xmlns="http://www.zkoss.org/2005/zul">
    
</zk>